.article-style h1,
.page-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.home-section h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.article-style h2 {
  font-size: 1.15rem;
  font-weight: 550;
}
